<h1>Goodbye</h1>

<%= params %>>

<div>First name: <%= params.fetch
  ("zebra") %>></div>

<div>Last name: <%= params.fetch
  ("giraffe") %>></div>



<%# 
NOTES
- <%= params %arrowright use this but put in the real arrow to show what values the user typed 
- Workflow - somebody tyoes ito the input on hello.erb, click submit, which puts the query string together. Then that means
the keys are going to be in the hash in bye.erb with the value, which we can fetch them out and use them
?
%>
