<h1>Form experiment</h1>

<form action = "/goodbye">
  <label for="alice">first thing</label>
  <input id="alice" type="text" name="zebra">

  <label for ="bob">second thing</label>
  <input id="bob" type="text" name="giraffe">

  <button>Go to /goodbye</button>

</form>






<%# 
NOTES
<form action = "https://en.wikipedia.org/wiki/Chicago">
  <label for="alice">first thing</label>
  <input id="alice" type="text" name="zebra">

  <label for ="bob">second thing</label>
  <input id="bob" type="text" name="giraffe">

  <button>Go to Wikipedia</button>

</form>
- This took the value the user typed and included it at the end of the URL under a query string -> has a list of key value pairs
- Forms assemble query strings
%>
