<h1>Pick a random number</h1>

<form action="/random/results">
  <label for="min">Minimum</label>
  <input id="min" type="text" name="user_min">

  <label for="max">Maximum</label>
  <input id="max" type="text" name="user_max">

  <button>Pick random number</button>
</form>
