<h1> Calculate the square root of a number</h1>

<form action="/square_root/results">
<label for="bear">Enter a number</label>

<input id="bear" type="text" name="user_number">

<button>Calculate square root</button>
</form>
